*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body {
  background-color: lightgrey;
}
.stories {
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 1%;
max-width: 80em;
margin:auto;

}
.news {
  background-color: white;
  display: inline-block;
  /* overflow: hidden; */
  box-shadow: 6px 6px 6px black ;
  margin: 1em 0;
  grid-template-columns: 1em 1fr 1em;
}

.news-img {
  width: auto;
  max-width: 100%;
}
